SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
APP_BASE_URL=http://localhost:8080

DEV_DB_NAME=pconlineshop
DEV_DB_URL=jdbc:mysql://localhost:3307/pconlineshop?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true
DEV_DB_USERNAME=pconlineshop
DEV_DB_PASSWORD=123456
MYSQL_ROOT_PASSWORD=123456
MYSQL_PORT=3307

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME= shoppconline@gmail.com
MAIL_PASSWORD= vjdm ifxt wwrl fhiu

PAYOS_CLIENT_ID=dev-client-id
PAYOS_API_KEY=dev-api-key
PAYOS_CHECKSUM_KEY=dev-checksum-key
PAYOS_BASE_URL=https://api.payos.vn
PAYOS_LOG_LEVEL=INFO
