<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/app :: page('Edit Customer', null, ~{::content})}">
<body>
<th:block th:fragment="content">
    <section class="commerce-page admin-page">
        <div class="container">
            <div class="section-header">
                <h1 class="commerce-title app-mb-0">Edit Customer</h1>
                <a th:href="@{/customer/list}" class="btn btn-app-outline">Back</a>
            </div>

            <div class="commerce-card admin-form-card">
                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

                <form th:action="@{/customer/edit}" th:object="${account}" method="post">
                    <input type="hidden" th:field="*{accountId}">
                    <input type="hidden" th:field="*{password}">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input id="firstname" type="text" th:field="*{firstname}" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input id="lastname" type="text" th:field="*{lastname}" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" type="email" th:field="*{email}" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phoneNumber">Phone</label>
                                <input id="phoneNumber" type="text" th:field="*{phoneNumber}" class="form-control" pattern="[0-9]{9,15}" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <div class="address-group">
                            <select id="province" class="form-control">
                                <option value="">-- Select Province/City --</option>
                            </select>
                            <div class="address-sub">
                                <select id="district" class="form-control">
                                    <option value="">-- Select District --</option>
                                </select>
                                <select id="ward" class="form-control">
                                    <option value="">-- Select Ward --</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="address" name="addressStr" th:value="${account.defaultAddress}">
                    </div>

                    <div class="form-group">
                        <label>Status</label>
                        <div class="admin-radio-row">
                            <label><input type="radio" th:field="*{enabled}" value="true"> Active</label>
                            <label><input type="radio" th:field="*{enabled}" value="false"> Inactive</label>
                        </div>
                    </div>

                    <div class="admin-form-actions">
                        <a th:href="@{/customer/list}" class="btn btn-app-outline">Cancel</a>
                        <button type="submit" class="btn btn-app-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script th:src="@{/js/Staff.js}"></script>
</th:block>
</body>
</html>
